@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Saira+Extra+Condensed:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 7.5px);
  background-color: #f7f7f7;
  width: 20%;
  margin: 3px;
  border-radius: 10px;
}

.alomrane-logo {
  /* top: 3%; */
  /* left: 5%; */
  margin-top: 9%;
  margin-left: 7%;
}

.header-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #FFFFFF; */
  width: 80%;
  height: 40px;
  border-radius: 6px;
}

.header-item:not(:first-child) {
  margin-top: 10px;
}

.h-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.welcomeText {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #e83f4c;
  font-weight: bolder;
  font-size: 50px;
}

.control-title {
  margin-top: 20px;
  font-weight: bold;
  color: #020a4e;
}

.control-container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.control-input {
  background-color: #f7f7f7;
  border: none;
  /* padding: 10px 50px; */
  height: 37px;
  width: 270px;
  outline: none;
  border-radius: 10px;
  /* margin-left: 30px; */
  text-indent: 10px;
  font-weight: bold;
}

.control-button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 110px;
  height: 41px;
  user-select: none;
  margin-top: 20px;
  float: right;
}

.control-button:not(:first-child) {
  margin-right: 10px;
}
